<%= form_for @micropost, url: user_group_microposts_path(@user, @group, @micropost) do |f| %>
  
	<div class="field">
    <%= f.text_area :content %>
  </div>
	
  <div class="actions">
    <%= f.submit "Send" %>
  </div>
	
<% end %>
