

<table class="container">
  <thead>
    <tr>
      <th>Name</th>
      <th>Score</th>
			<th>Comment</th>
    </tr>
  </thead>

  <tbody>
    <% @marks.each do |mark| %>
      <tr>
        <td><%= User.find(mark.user_id).name %></td>
        <td><%= best_in_place [@user, @group, @course, @evaluation, mark], :score %></td>
				<td><%= best_in_place [@user, @group, @course, @evaluation, mark], :comment, type: :textarea %></td>
      </tr>
    <% end %>
  </tbody>
</table>
average <div class="average_evaluation"><%= @evaluation.average %></div>