<div class="task-list">
  <div class="task-done">Landing page</div>
  <div class="task-done">Sign up</div>
  <div class="task-done">Sign in</div>
  <div class="task-done">Mailer</div>
  <div class="task-done"></div>
  <div class="task-done"></div>
  <div class="task-done"></div>
  <div class="task-current"></div>
  <div class="task-future"></div>
</div>
<div class="upvote a task"></div>
