<div class="roadmap">
  <div class="roadmap-title">Roadmap</div>
  <div class="task-list">
    <!-- <div class="task-title">Done</div> -->
    <!-- <div class="task-done">Landing page</div> -->

    <!-- <div class="task-title">Under developement</div> -->

    <div class="task-done" >
      <div class="task" progress="10">
        <div class="task-name">Roadmap</div>
        <div class="progress-text">Progress:</div>
        <div class="progress-container">
          <div class="progress"></div>
        </div>
      </div>
      <div class="task" progress="10">
        <div class="task-name">Signup</div>
        <div class="progress-text">Progress:</div>
        <div class="progress-container">
          <div class="progress"></div>
        </div>
      </div>
      <div class="task" progress="10">
        <div class="task-name">Signin</div>
        <div class="progress-text">Progress:</div>
        <div class="progress-container">
          <div class="progress"></div>
        </div>
      </div>
    </div>

    <div class="task-todo">
      <div class="task" progress="1">
        <div class="task-name">Calendar</div>
        <div class="progress-text">Progress:</div>
        <div class="progress-container">
          <div class="progress"></div>
        </div>
      </div>
    </div>


    <!-- <div class="task-done">
      <%# tasks-done.each do |tasks| %>
        <div class="task">
          <div class="task-name"><%#= tasks.name %></div>
          <div class="progress-text">Progress:</div>
          <div class="progress-container">
            <div class="progress is-<%#= tasks.progress %>"></div>
          </div>
        </div>
      <%# end %>
    </div> -->


    <!-- <div class="task-title">To do</div> -->
    <div class="task-future"></div>
  </div>
  <!-- <div class="upvote a task"></div> -->
</div>
