<!DOCTYPE html>
<html>
 <head>
   <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
 </head>
 <body>
   <h1>Welcome to Unisphere</h1>
   <p>
     <%= @inviter %> invited you to join his Unisphere's group '<%= @group %>'.
   </p>
        <p>
            Your temporary username is <%= @name %>.
        </p>
   <p>
            Thanks for joining and enjoy your futur collaborative work!
        </p>
        <p>
            Clément co-founder at Unisphere
        </p>
 </body>
</html>