<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Unisphere <%= @name %></h1>
    <p>
      To confirme your account, just follow this <a href="<%= @url %>">link</a>.
    </p>
    <p>
			To use all functionalities Unisphere provides, you would have to follow the instructions from the email the cloud provider Box.com send you.
		</p>
    <p>
			Thanks for joining and enjoy your futur collaborative work!
		</p>
		<p>
			Clément co-founder at Unisphere
		</p>
  </body>
</html>