
<div class="signup-title-wrapper">
  <div class="signup-title">Configure your account</div>
  <div class="fa fa-lock"></div>
</div>
<div id="password-strength" class="short">
    <div class="visual">
      <span class="block block-1"></span>
      <span class="block block-2"></span>
      <span class="block block-3"></span>
    </div>
    <span class="strength-text">Too short</span>
  </div>
  
<div class="form-container">
  <div class="signup-notification">Wrong password</div>
  <input type="password"class="signup-input" placeholder="Create a password" id="password" />
  <input type="password"class="signup-input" placeholder="Retype your password" />
  <div class="password-tip">Tip: use at least 7 characters</div>
  <%= link_to 'Sign up', "#", class: "signup-button" %>
</div>


