<div class="first-row"></div>
<div class="main-page">
  <div class="separator"></div>
  <div id="userlist"></div>
  <div id="firepad" firepad_ref="<%= @firepadRef %>" firepad_id="<%= @firepad.id %>"></div>
</div>

