@import "../../var";

// ------------
// SLIDE SIGNUP -----------------------------
// ------------



#slide-signup{
  left: 20%;
  right: 20%;

  top: calc(50% - 210px);
  height: 420px;
  // display: inline-block !important;
}


#signup-body-wrapper{
  position: absolute;

  left: calc(50% - 270px);
  top: 40px;  
  // top: 0px;
  width: 540px;
  height: 240px;

 

  // width: 800px;
  // border: 2px solid black;

}



// -------
// FORM ------------------------------------
// --------

.form-container{
  position: relative;
  float: left;

  .fa{
    position: absolute;
    right: 5px;
    top: 10px;

    height: 20px;
    width: 20px;

    display: none;

    font-size: 20px;
  }

  .fa-check{
    color: green;
  }

  .fa-times{
    color: red;
  }

}

.signup-input-wrapper{
  position: relative;
  float: left;
  clear: left;
}

.signup-input{
  position: relative;
  float: left;
  clear: left;

  width: 230px;

  padding: 13px 10px;
  // margin-left: 10px;
  margin-bottom: 10px;

 

  border-radius: 3px;
  border: none;
  box-shadow: inset 0 2px 3px rgba( 0, 0, 0, 0.1 );

  font-size: 15px;
  font-weight: bold;

  color: black;
  
  &:focus {
    box-shadow: 0px 0 1px 2px #2980b9;
    outline: none;
  }
}








// PASSWORD TIP ----------------
.password-tip{
  position: relative;
  float: left;
  clear: left;

  margin-left: 10px;
  margin-bottom: 10px;


  color: $light-grey;
  font-weight: bold;
  font-size: 15px;
  font-family: ubuntu;
}



// PASSWORD STRENGH ------------------------------

#password-strength{

  display: none;

  position: relative;
  float: left;

  padding-left: 40px;

  line-height: 28px;
  height: 28px;

  font-weight: bold;
  font-family: ubuntu;
  font-size: 15px;

  // background: blue;
}

.strength-fixed-text{
  position: relative;
  float: left;

  margin-right: 10px;
  color: black;
}

.strength-text{
  position: relative;
  float: left;
  width: 100px;
}

.visual-indicator-container{
  position: relative;
  float: left;
  clear: left;
  height: 5px;
  width: 140px;
  background: grey;
}
.visual-indicator{
  position: relative;
  float: left;
  clear: left;
  transition: all 0.9s ease !important;
  height: 5px;
}



// INTENSITY PASSWORD --------------
.short{
  color:red;
  // .block-1, .block-2, .block-3{display: none}
  .visual-indicator{
    width: 20px;
    background: red
  }
  // .block{background: red}
}
.weak{
  color:orange;
  // .block-2, .block-3{display: none}
  .visual-indicator{
    width: 60px;
    background: orange;
  }
  // .block{background: orange}
}
.good{
  color:blue;
  // .block-3{display: none}
  .visual-indicator{
    width: 100px;
    background: blue;
  }
  // .block{background: blue}
}
.strong{
  color: limegreen;
  .visual-indicator{
    width: 140px;
    background: limegreen;
  }
  // .block{background: limegreen}
}






