@import "../../var";

// ---------------
// SEE ALL GROUPS
// ---------------

#slide-all-groups{
  left: 40%;
  right: 40%;

  top: 20%;
  bottom: 20%;
}

#all-groups-wrapper{
   display: none;
   width: 100%
}