<div class="slide story" id="slide-2" data-slide="2">
  <div class="page-title-wrapper">
    <div class="page-title-features">FEATURES</div>
    <div class="line-features">&nbsp;</div>
  </div>

  <div class="feature feature-1">
    <div class="feature-title-wrapper">
      <div class="feature-icon fa fa-share-alt"></div>
      <div class="feature-title">Share documents</div>
    </div>
    <div class="feature-argument-wrapper">
      <div class="fa fa-times"></div>
      <div class="feature-argument">Never set up a dropbox or google drive again</div>
    </div>
    <div class="feature-argument-wrapper">
      <div class="fa fa-times"></div>
      <div class="feature-argument">Never share file through usb key again</div>
    </div>
  </div>

  <div class="feature feature-2">
    <div class="feature-title-wrapper">
      <div class="feature-icon fa fa-edit"></div>
      <div class="feature-title">Create reports</div>
    </div>
    <div class="feature-argument-wrapper">
      <div class="fa fa-times"></div>
      <div class="feature-argument">Never fusion different parts of a report again</div>
    </div>
    <div class="feature-argument-wrapper">
      <div class="fa fa-times"></div>
      <div class="feature-argument">Never get mad on the report formatting again</div>
    </div>
  </div>

  <div class="feature feature-3">
    <div class="feature-title-wrapper">
      <div class="feature-icon fa fa-comments"></div>
      <div class="feature-title">Team communication</div>
    </div>
    <div class="feature-argument-wrapper">
      <div class="fa fa-times"></div>
      <div class="feature-argument">Never create a facebook group for your project again</div>
    </div>
   <!--  <div class="feature-argument-wrapper">
      <div class="fa fa-times"></div>
      <div class="feature-argument">Never get mad on the report formatting again</div>
    </div> -->
  </div>

  <div class="feature feature-4">
    <div class="feature-title-wrapper">
      <div class="feature-icon fa fa-tachometer"></div>
      <div class="feature-title">Project management</div>
    </div>
    <div class="feature-argument-wrapper">
      <div class="fa fa-times"></div>
      <div class="feature-argument">Never argue on task assignments again</div>
    </div>
    <!-- <div class="feature-argument-wrapper">
      <div class="fa fa-times"></div>
      <div class="feature-argument">Never get mad on the report formatting again</div>
    </div> -->
  </div>

</div>

