<div class="slide story" id="slide-3" data-slide="3">

   <div class="page-title-wrapper">
    <div class="page-title-contact">CONTACT US</div>
    <div class="line-contact">&nbsp;</div>
  </div>

  <div class="contact-icons" >
    <div class="icon-hover">
      <p><a target="_blank" href="#"><i class="fa fa-phone"></i></a></p>
      <span class="hover-text">+33 3 88 00 00 00</span>
    </div>

    <div class="icon-hover">
      <p><a target="_blank" href="#"><i class="fa fa-envelope"></i></a></p>
      <span class="hover-text">hello@unisphere.eu</span>
    </div>

    <div class="icon-hover">
      <p><a target="_blank" href="#"><i class="fa fa-home"></i></a></p>
      <span class="hover-text">Strasbourg, France<br>zip code 67000</span>
    </div>

    <div class="icon-hover">
      <p><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></p>
      <span class="hover-text">facebook/unisphere</span>
    </div>

    <div class="icon-hover">
      <p><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></p>
      <span class="hover-text">@unisphere</span>
    </div>
  </div>
</div>

