@import "var";

// ------------------
// Middle logo
// ------------------

#logo-wrapper {
  position: absolute;
  z-index: 100;
  // top: 2px;
  left: calc(50% - 12px);
  // width: 25px;
  height: 40px;
  width: 40px;

  // img{line-height: 40px;}
  object{
    margin-top: 4px;
  }

}


// -------------------
// Right: user & deco
// --------------------


#user-deco {
	letter-spacing: 1px;
  position: relative;
  float: right;
  margin-right: 50px;

  width: 200px;
  height: 100%;

  // background: green;

  // user profile

  #user-profile{
    position: absolute;

    right: 41px;
    top: 3px;

    height: 28px;
    border: 1px solid $surrounding-bg;

    padding: 1px;
    padding-right: 5px;

    &:hover{
      cursor: pointer;
      border: 1px solid $header-bg;
    }
  }
  #profile-pic{
    position: relative;
    float: left;

    width: 28px;
    height: 28px;

    margin-right: 3px;
  }
  .user-name {
    position: relative;
    float: left;

    color: $username;

    font-size: 15px;
    line-height: 28px;
  }

  // -----------
  // deco button
  // -----------
  .deco {
    position: absolute;
    
    right: 0px;
    top: 3px;

    padding: 1px;

    line-height: 28px;
    width: 28px;
    height: 28px;

    border: 1px solid $surrounding-bg;
    font-size: 18px;
    color: $deco-fa;

    &:hover{
      border: 1px solid $header-bg;
    }
  }
}


