@import "var";

// ------------------
// Middle logo
// ------------------

#logo-wrapper {
  position: absolute;
  top: 2px;
  left: calc(50% - 12px);
  // float: middle;
  width: 25px;

  // font-size: 18px;
  img{line-height: 30px;}

  // background: red;
  // margin-top : 2px !important;
}


// -------------------
// Right: user & deco
// --------------------


#user-deco {
  position: relative;
  float: right;
  margin-right: 50px;

  width: 200px;
  height: 100%;

  &, a{color: $surrounding-color;}
  // background: green;

  // ------------
  // user profile
  // ------------
  #user-profile{
    position: absolute;

    right: 41px;
    top: 1px;

    height: 26px;
    // line-height: 30px;
    border: 1px solid $surrounding-bg;

    padding: 1px;
    padding-right: 5px;

    &:hover{
      cursor: pointer;
      border: 1px solid $header-bg;
    }
  }
  #profile-pic{
    position: relative;
    float: left;

    width: 22px;
    height: 22px;

    margin-right: 3px;
  }
  .user-name {
    position: relative;
    float: left;

    line-height: 22px;
  }

  // -----------
  // deco button
  // -----------
  .deco {
    position: absolute;
    
    right: 0px;
    top: 1px;

    height: 26px;
    line-height: 22px;
    width: 22px;

    border: 1px solid $surrounding-bg;
    font-size: 14px;

    padding: 1px;

    &:hover{
      border: 1px solid $header-bg;
    }
  }
}


