@import "var";

// ------------------
// Tabs configuration
// ------------------

#tabs-container{
  position: relative;
  float: left;
  z-index: 1;

  width: 100%;
  height: 25px;
  
  padding-top: 5px;
}
.tab{
  position: absolute;
  z-index: 1;

  height: 23px;
  line-height: 21px;
  width: 52%;

  padding-top:2px;

  background: $unselected-tab-bg;
  color: black;

  border-radius: 20px 20px 0 0;

  list-style: none;
  outline: none;

  &:before, &:after{
    position: absolute;
    z-index: 2;

    content: "";
      
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
     
  }

  &.active, &.active:hover{
    z-index: 3;

    background: $gradient-top;
    color: $tab-color;

    cursor: default;

  }
  &:hover{
    background: $unselected-tab-hover;
    color: $unselected-tab-hover-color;
    text-decoration: none;
  }
}

// TAB LEFT
#tab-perso{
  left: 0px;

  &:before{
    width: calc(12/13 * 100%);
    height: 1px;

    left: 0px;
    bottom: -1px;

    box-shadow: 1px -1px 2px 0px rgba(0, 0, 0, 0.7);
  }
  &:after{
    width: 100%;
    right: 0px;
    bottom: 0px;
    top: 0px;

    box-shadow: 1px -1px 2px 0px rgba(0, 0, 0, 0.7);
  }
  &.active:before{
    height: 100%;
    width: 100%;

    bottom: 0px;

    box-shadow: 1px -1px 2px -1px rgba(0, 0, 0, 0.7);

  }
}

//TAB right
#tab-group{
  left: 48%;

  &:before{
    width: calc(12/13 * 100%);
    height: 1px;

    right: 0px;
    bottom: -1px;

    box-shadow: 1px -1px 2px 0px rgba(0, 0, 0, 0.7);
  }
  &:after{
    width: 100%;
    right: 0px;
    bottom: 0px;
    top: 0px;

    box-shadow: 1px -1px 2px 0px rgba(0, 0, 0, 0.7);
  }
  &.active:before{
    height: 100%;
    width: 100%;

    right: 0px;
    bottom: 0px;

    box-shadow: 1px -1px 2px -1px rgba(0, 0, 0, 0.7);
  }
}

// --------------------------------------------------
// ------------------- CONTENT WRAPPER --------------
// --------------------------------------------------
#row-and-content-wrapper{
  position: relative;
  float: left;
  z-index: 2;

  width: 100%;
  height: calc(100% - 35px);
  &:before{
    position: absolute;
    content: "";
    width: 1px;
    z-index: -2;
    left: 0px;
    bottom: 20px;
    top: -3px;

    // box-shadow: -1px 1px 2px 0px black;
  }
}

// ---------
// FIRST ROW
// ---------

#sidebar-first-row{
  position: relative;
  float: left;
  z-index: 2;

  width: 100%;
  height: 25px;

  background: $gradient;
}

#uni-name{
  display: relative;
  float: left;

  width: calc(100% - 40px);
  height: 100%;

  padding-left: 40px;
  text-align: left;

  line-height: 25px;
  color: $school;

  white-space: nowrap;      //keep the text on one line
  overflow: hidden;         //prevent the text from being shown outside the border
  text-overflow: ellipsis;  //cut off text with an elipsis
}

// ---------------
// CONTENT WRAPPER
// ---------------

#content-wrapper {
  position: relative;
  float: left;
  z-index: 0;

  width: calc(100% - 2px);
  height: calc(100% - 28px);

  border-left: solid 3px $header-bg;
  border-bottom: solid 3px $header-bg;
  border-bottom-left-radius: 20px;

  background: $inside-bg;
}



.lateral-nav{
  position: absolute;

  width: calc(100% - 5px);

  padding-left: 5px;

  text-align: left;
  // background: red;
  ul{
    list-style: none;

    margin: 0;
    padding: 0;
  }
  li{
    width: 70%;
  }
  li a{
    position: relative;
    float: left;

    width: 100%;
    height: 22px;

    line-height: 22px;
    
    margin: 2px 0px;
    padding-left: 5px;

    color: $nav;
    white-space: nowrap;      //keep the text on one line
    overflow: hidden;         //prevent the text from being shown outside the border
    text-overflow: ellipsis;  //cut off text with an elipsis

    border-left: solid 2px $inside-bg;
    // background: green;
    &:hover, &.active li a{
      border-left: solid 2px $hover-border;
      background: $inside-bg;

      text-decoration: none;
    }
  }
  .fa, img{
    position: relative;
    float: left;

    width: 16px;
    height: 16px;

    padding-left: 5px;
    padding-right: 9px;
    margin-top: 3px;

    font-size: 14px;
    color: $nav-fa;

    // background: red;
  }
}

#nav-perso{
  top: 31px;
}

// -------------
// ACTIVE GROUPS
// -------------

#active-group-nav{
  top: 31px;
}
// ----------
// GROUPS NAV
// ----------

#groups-nav{
  top: 140px;
}

.line-separator{
  position: relative;
  float: left;

  height: 1px;
  width: calc( 70% + 7px);

  margin-left: 0px;
  margin-top: 5px;
  margin-bottom: 5px;

  background: $separator;

}
#more-groups{
  position: relative;
  float: left;

  height: 22px;
  line-height: 22px;

  margin-left: 14px; // 7 + ?
  padding-right: 10px;

  font-style: italic;
  // font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  // background: green;
  .fa{
    font-size: 12px;
    margin-top: 5px;
    padding-right: 2px;
  }
  &:hover{
    cursor: pointer;
  }
}


