@import "var";

// ------------------
// Tabs configuration
// ------------------

#tabs-container{
  position: relative;
  float: left;

  width: 100%;
  height: 30px;
  
  padding-top: 5px;
}
.tab{
  position: absolute;

  height: 25px;
  width: 52%;

  padding-top:2px;

  background: $header-bg2;
  color: white;

  border-radius: 20px 20px 0 0;

  list-style: none;
  outline: none;

  &.active, &.active:hover{
    z-index: 10;

    background: $header-bg;
    color: white;

    cursor: default;
  }
  &:hover{
    background: $violet-dark;
    color: white;
    text-decoration: none;
  }
}
#tab-perso{
  left: 0;
}
#tab-group{
  left: 48%;
}

// --------------------------------------------------
// ------------------- CONTENT WRAPPER --------------
// --------------------------------------------------

#content-wrapper {
  position: relative;
  float: left;

  width: 100%;
  height: calc(100% - 35px); 

  border-left: solid 2px $header-bg;
  border-bottom: solid 2px $header-bg;
  border-bottom-left-radius: 20px;

  a, & {color: $sidebar-color;}
  background: $inside-bg;
}


#sidebar-first-row{
  position: relative;
  float: left;

  width: 100%;
  height: 25px;

  background: $header-bg;
}

.lateral-nav{
  position: absolute;

  width: 100%;

  padding-left: 5px;

  text-align: left;
  ul{
    list-style: none;

    margin: 0;
    padding: 0;
  }
  li{
    width: 70%;
  }
  li a{
    position: relative;
    float: left;

    width: 100%;
    height: 22px;
    
    margin: 2px 0px;
    padding-left: 5px;

    white-space: nowrap;      //keep the text on one line
    overflow: hidden;         //prevent the text from being shown outside the border
    text-overflow: ellipsis;  //cut off text with an elipsis

    border-left: solid 2px $inside-bg;
    &:hover, &.active li a{
      border-left: solid 2px $sidebar-color;
      background: $inside-bg;

      text-decoration: none;
    }
  }
  .fa{
    padding-left: 5px;
    // margin-right: 5px;
    width: 22px;
  }
}

#nav-perso{
  top: 35px;
}

#active-group-nav{
  top: 35px;
}

#groups-nav{
  top: 130px;


  img{
    float: left;

    height: 22px;
    width: 22px;

    margin-right: 5px;
  }

  .line-separator{
    margin-top: calc( 78px + 4px );
    top: 5px;

    height: 1px;
    width: calc(100% - 5px);
    background: $violet-writing;
  }

  #more-groups{
    // background: red;
    display: block;
    // clear: left;
    // float: left;

    width: 100%;

    padding-left: 5px;
    padding-top: 5px;

    font-size: 12px;
    font-style: italic;
  }
}



#list-groups-wrapper{
  float:left;
  clear: left;

  width: 100%;

  margin-top: 20px;
  
  
  .panel-heading{
    padding-top: 15px !important; 
  }

  #list-groups{
    img{
      float: left;

      height: 30px;
      width: 30px;

      margin-right: 4px;
    }
    li a{
      display: block;
      float:left;
      clear:left;

      padding: 0;
      padding-left: 9px;
      margin: 3px 0px;

      border-left: solid 2px white;
      &:hover{
        border-left: solid 2px $violet-writing;
      }
    }
    .name-group{
      float: left;
      margin-top: 5px;
    }
  }

  .line-separator{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 1px;
    background: $grey-separator;
  }

  #more-groups{
    display: block;
    clear: left;
    float: left;

    width: 100%;

    padding-left: 15px;

    font-size: 12px;

    .ellipsis{
      float: left;

      width: 80%;

      text-align: left;
      font-style: italic;
      white-space: nowrap;  
      overflow: hidden;    
      text-overflow: ellipsis; 
    }
    
    &:hover, &:focus{
      text-decoration: none;
    }
    .fa{
      float: left;

      margin-right: 5px;
    }
  }
}
