@import "var";



.row-offcanvas{
  height: calc(100% - 25px);
}
// ------------------
// Tabs configuration
// ------------------

#tabs-default{
  height: 25px; 

  background: white; 
  
  .tab{
    padding-top: 2px !important;
    width: calc( 50% + 6px );

    background: $violet-light;
    color: white;

    border-radius: 20px 20px 0 0;

    list-style: none;
    outline: none;

    &.active, &.active:hover{
      z-index: 1;

      background: $violet-background;
      color: white;

      cursor: default;
    }
    &:hover{
      background: $tab-hover-bg;
      color: $tab-hover-color;
      text-decoration: none;
    }
  }
  .offset-margin{
    margin-left: -12px !important;
  }
}

// --------------------------------------------------
// ------------------- CONTENT WRAPPER --------------
// --------------------------------------------------

#content-wrapper {
  float: left;

  width: 100%;
  height: 100%;
  // height: calc(100vh - 35px); 

  margin-bottom: 0;
  padding-bottom: 0;

  border-left: solid 2px $violet-background;
  border-bottom: solid 2px $violet-background;
  border-bottom-left-radius: 20px;
  // border-right: solid 1px $panel-separator-bg;

  a, & {color: $violet-writing;}
  background: $grey-test;
  

  // .fake-panel{
  //   width: calc( 100% - 24px );

  //   padding-top: 10px;
  //   margin-right: 12px;

    
  //   .panel-body{

  //     // background: blue;
  //     padding: 9px;

  //     li a:hover{background: white;}
  //   }

    // border: solid 1px $violet-writing;
    // box-shadow: -3px 3px 2px $violet;
    // border-left:none;
  // }
}



#platform-choice{
  background: $violet-background;
  &, a{color: white;}
  height: 25px;
  padding-top: 2px;
  a:hover{
    text-decoration: none;
  }
  .fa{
    padding-right: 4px;
  }
  .unifolder{
    // padding-right: 30px;
    float: left;
    margin-left: 10px;
  }
  .unilib{
  }
}

#active-group{
  float: left;
  clear: left;

  width: 100%;

  // margin-top: 20px;

  .group-pic{
    float: left;

    height: 50px;
    width: 50px;

    margin: 0;
  }

  .group-name{
    float:left;

    width: calc(100% - 50px);

    margin-top: 15px;
    padding-left: 15px;

    text-align: left;
    white-space: nowrap;      //keep the text on one line
    overflow: hidden;         //prevent the text from being shown outside the border
    text-overflow: ellipsis;  //cut off text with an elipsis
  }
}

.lateral-nav{
  // background: red;

  text-align: left;
  li a{
    margin:3px 0px;
    padding: 0;
    padding-left: 9px;

    white-space: nowrap;      //keep the text on one line
    overflow: hidden;         //prevent the text from being shown outside the border
    text-overflow: ellipsis;  //cut off text with an elipsis

    border-left: solid 2px $grey-test;
    &:hover, &.active li a{
      border-left: solid 2px $violet-writing;
      background: $grey-test;
    }
  }
  .fa{
    margin-right: 4px;
    width: 17px;
  }
}

#list-groups-wrapper{
  float:left;
  clear: left;

  width: 100%;

  margin-top: 20px;
  
  
  .panel-heading{
    padding-top: 15px !important; 
  }

  #list-groups{
    img{
      float: left;

      height: 30px;
      width: 30px;

      margin-right: 4px;
    }
    li a{
      display: block;
      float:left;
      clear:left;

      padding: 0;
      padding-left: 9px;
      margin: 3px 0px;

      border-left: solid 2px white;
      &:hover{
        border-left: solid 2px $violet-writing;
      }
    }
    .name-group{
      float: left;
      margin-top: 5px;
    }
  }

  .line-separator{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 1px;
    background: $grey-separator;
  }

  #more-groups{
    display: block;
    clear: left;
    float: left;

    width: 100%;

    padding-left: 15px;

    font-size: 12px;

    .ellipsis{
      float: left;

      width: 80%;

      text-align: left;
      font-style: italic;
      white-space: nowrap;  
      overflow: hidden;    
      text-overflow: ellipsis; 
    }
    
    &:hover, &:focus{
      text-decoration: none;
    }
    .fa{
      float: left;

      margin-right: 5px;
    }
  }
}






















#avatar-deco{
  // float: left;

  // bottom: 20px;
  // position: fixed;
  // width: 14%;
  // padding: 20px 0px;
  // border-top: solid 1px $panel-separator-bg;


  // position: fixed;
  // float: left;
  // bottom: 0;
  // margin-bottom: 0px;
  padding: 10px 12px;

  position: absolute;
  bottom: 0;
  width: 100%;
  background: $grey !important;

  // width: 15,2%;

  // width: calc( 100% - 34px );
  // margin-right: 12px;
  // margin-left: 17px;
  // margin-top: 20px;
  // padding-bottom: 15px;
  // padding-left: 12px;
  // padding-right: 12px;
  // padding-bottom: 20px;
  // border-bottom: solid 2px $panel-separator-bg;



  background: $grey-test;

  // height: 22px;
  // background: $grey-test;
  // background: red;
  // border-top: solid 2px $violet;
  // box-shadow: 0px 4px 5px $violet;
  // margin-top : 10px;
  // box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  // box-shadow:  0 10px 6px -6px #777;
  // padding-bottom: 8px;
  // border-bottom: solid 2px $violet;
  // background: red;
  .gravatar{
    float: left;
    // border: solid 2px $violet;
  }
  .user-name{
    padding: 2px 0px 0px 5px;
    height: 22px;
    font-weight: bold;
    // width: calc( 100% - 50px );
    float: left;
  }
  .deco-options{
    height: 22px;
    padding-top: 2px;
    float: right;
    // width: calc( 100% - 50px );
  }
}








@media screen and (min-width: 768px) {
  .hidden-small{
    display: visible;
  }
  .visible-small{
    display: none;
  }
}
// Config for little screens
@media screen and (max-width: 768px) {
  .box {
    // overflow-x: hidden;
  }
  .row-offcanvas {
    position: relative;
    // -webkit-transition: all 0.25s ease-out;
    // -moz-transition: all 0.25s ease-out;
    // transition: all 0.25s ease-out;
  }
  .row-offcanvas-left.active {
    left: 33%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -33%;
    position: absolute;
    top: 0;
    width: 33%;
  }
  .hidden-small{
    display: none;
  }

  #content-wrapper{
    border-right: solid 1px $violet;
  }
  .visible-small{
    display: visible;
  }
  #sidebar{
    overflow-y: hidden;
    overflow-x: hidden;
  }
}


@media screen and (max-width: 768px) {
  #chevron{
    a{
      height: 50px;
      padding: 12px 0 0 0;
      outline: none; 
      color: white;
      background: $violet-background;
      border-right: solid 1px white;
    }
  }

  #sidebar-small, #tabs-small-toggle, #group-choice-small{
    margin-top: 40px;
    li{
      // width: 70%;
      // margin-right: 15%;
    }
    a{
      // background: red;
      margin:5px auto;
      // margin-left: calc( 50% - 14px );
      padding: 2px;
      width: 26px;
      // height: 34px;
      border-radius: 5px;

      &:hover, :hover{
        background: $button-small-hover-bg;
        .fa{
        color: $button-small-hover-color;
        }
      }
    }
    .fa{
      font-size: 22px;
      color: $violet;
    } 
  }

  #tabs-small{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      color: $tab-main-color;
      padding: 0;
    }
    a{
      float: left;
      width: 100%;
      border-radius: 5px;
      background: #FCFCFC;
      &:hover{
        background: $button-small-hover-bg;
      }
      span:hover{
        background: $button-small-hover-bg;
      }
    }
    .fa{
      margin-right: 5px;
      &:hover{
        background: $button-small-hover-bg;
      }
    }
    :hover{
      text-decoration: none;
      color: $button-small-hover-color;
    }
  }
}