$separator: #808080;

//GREY
$header-bg: rgba(192,192,192,1);
$gradient-top:  linear-gradient(to bottom, rgba(220,220,220,1) 0%,rgba(211,211,211,1) 100%);
$gradient: linear-gradient(to bottom, rgba(211,211,211,1) 0%,rgba(192,192,192,1) 100%);

// GENERAL
$surrounding-bg: whitesmoke;
$inside-bg: whitesmoke;

// TABS
$tab-color: black;

$unselected-tab-bg: rgba(220,220,220,1);
$unselected-tab-hover: #9E9E9E;
$unselected-tab-hover-color: black;

// SIDEABAR
$school: black;
$nav-fa: black;
$nav: black;
$hover-border: black;

$sidebar-color: #B22222;




// NAVBAR
$username: black;
$deco-fa: black;

// CLOUD
$breadcrumb: black;
$list-fa: black;
$list: black;
$list-separator: $header-bg;
$list-title: grey;
$list-title-fa: grey;
$list-title-separator: $header-bg;
$name: $header-bg;

$selected-action: black;
$unselected-action: grey;

$document-selected: papayawhip;
$document-hovered: snow;

$pencil-active: grey;
$rename: black;

$action: black;
$action-fa: black;



// POP UP
$popup-bg: white;
$popup-header-bg: white;
// $popup-footer-bg: rgba(192,192,192,1);
$popup-footer-bg: #EEEEEE;
$popup-color: black;
$popup-header-color: black;

// CHAT
$upload-bg: $header-bg;


$nice-grey: rgba(188,195,199,1);


//BLUE
// $header-bg2: #5E4FBD;
// $header-bg: rgba(142,134,204,1);
// $gradient-top:linear-gradient(to bottom, rgba(80,67,204,1) 0%,rgba(106,90,205,1) 100%);
// $gradient: linear-gradient(to bottom,  rgba(106,90,205,1) 0%,rgba(142,134,204,1) 100%);

//GREEN
// $header-bg: rgba(60,179,113,1);
// $header-bg2: rgba(46,139,87,1);
// $gradient-top: linear-gradient(to bottom, rgba(46,139,87,1) 0%,rgba(60,179,113,1) 100%);
// $gradient: linear-gradient(to bottom, rgba(60,179,113,1) 0%,rgba(78,178,121,1) 100%);

// //VIOLET
// $header-bg: rgba(170,112,224,1);
// $header-bg2: rgba(75,0,130,1);
// $gradient-top:  linear-gradient(to bottom, rgba(75,0,130,1) 0%,rgba(126,22,224,1) 100%);
// $gradient:  linear-gradient(to bottom, rgba(126,22,224,1) 0%,rgba(170,112,224,1) 100%) ;

// $surrounding-bg: mintcream;
// $surrounding-bg: cornsilk;
// blanchalmond
// $surrounding-bg: mintcream;