@import "var";

#container-perso-storage{
  position: relative;
  float: left;

  height: 100%;
  width: 100%;
}

// --------
// HEADER -
// --------

#breadcrumb{
  position: relative;
  float: left;

  padding-left: 5px;

  a, .breadcrumb-separator{
    position: relative;
    float: left;
  }
  a{
    line-height: 30px;
    padding: 0px 2px;

    color: $breadcrumb;
    font-size: 1em;

    &:hover{
      text-decoration: underline!important;
      &:hover{cursor: pointer;}
    }
  }

  .breadcrumb-separator{
    line-height: 31px;
    font-weight: bold;
    padding: 0px 4px;
    color: $breadcrumb;
  }
}

// -------------------
// ---DOCUMENT list --
// -------------------

#list-document{
  position: relative;
  float: left;

  width: 85%;
  text-align: left;
}

.notification-row{
  position: relative;
  float: left;

  height: 15px;
  width: 100%;

  margin-bottom:15px;
}

// LIST TITLE
#list-title{
  position: relative;
  float: left;

  width: 100%;
  height:23px;

  border-bottom: 2px solid $list-title-separator;
}

.cloud-title{
  float: left;
  position: relative;
}

.title-text{
  position: relative;
  float: left;

  line-height: 25px;

  height: 100%;

  color: $list-title;
  font-size: 1.2em;
  
   &:hover{
    cursor: pointer;
  }
}

.fa-sort-up{
  position: relative;
  float: left;

  padding-left: 3px; 
  padding-top: 10px; 

  color: $list-title-fa;
  font-size: 1em;

   &:hover{
    cursor: pointer;
  }
}


#title-name{
  width: calc(57% + 50px);
}

#title-modified{
  width: calc(43% - 150px);
}

#title-size{
  float: right;
}

//  ROW DOCUMENT
.box_document{
  position: relative;
  float: left;

  width: 100%;
  height: 65px;

  border-bottom: 1px solid $list-separator;

  background: $inside-bg;
}

// ICON & NAME
.icon-and-name{
  position: relative;
  float: left;
  clear: left;

  width: calc(57% - 5px);
  height: 65px;

  padding-left: 5px;

  a{
    position: relative;
    float: left;

    line-height: 45px;

    margin: 10px 0px;

    padding-right: 10px;

    .fa{
      position: relative;
      float: left;

      line-height: inherit;
      width: 38px;

      font-size: 2.8em;
      color: $list-fa;
    }

    .name-document{
      position: relative;
      float: left;

      line-height: 45px;

      font-size: 1.2em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      color: $list;
    }
    &:hover{
      cursor: pointer;
    }
  }
}

// INPUT RENAME DOCUMENT
.input-rename-document{
  position: absolute;
  left: 41px;
  top: 19px;

  width: calc(100% - 42px);
  height: 20px;

  font-size: 1.2em;

  color: $rename;
  font-family: $font-family;
}

// RENAME BUTTON
.document-rename{
  position: relative;
  float: left;

  width: 20px;
  height: 65px;

  padding-left: 15px;
  padding-right: 15px;
  line-height: 65px !important;

  font-size: 2em !important;

  color: $inside-bg;
  &:hover{cursor: pointer;}
}

// MODIFIED
.modified-doc{
  position: relative;
  float: left;

  width: calc(43% - 160px);
  height:50px;

  padding-left: 5px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  .date-time{
    color: $list;
    font-size: 1.1em;

    line-height: 65px;
  }

  .person{
    position:relative;

    padding-left: 5px;

    line-height: 50px;
    font-size: 1em; 

    color: $name;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover{
      text-decoration: underline !important;
      cursor: pointer;
    }
  }
}

// SIZE
.size-doc{
  position: relative;
  float: right;

  width: 100px;
  height: 65px;

  line-height: 65px;

  padding-left: 5px;

  color: $list;
  font-size: 1.1em;
  text-align: right;

  &:hover{cursor: default;}
}

// -----------------------------
.document-hovered{
  background: $document-hovered;
  .fa-pencil{color: $pencil-active;}
}
.document-selected{
  background: $document-selected;
  .fa-pencil{color: $pencil-selected-active;}
  .person{color: $name-selected;}

}
// ----------------------------


// -------------------
// ACTIONS ON DOCUMENT
// -------------------

#right-actions{
  position: relative;
  float: left;

  width: 15%;
  height: 100%;
}

.action-doc{
  position: absolute;
  .fa{font-size: 4em;}
  width: 100%;
}

#actions-creation{
  top: 20px;
}
#actions-selected-doc{
  top: 400px;
}

.action{
  position: relative;
  // clear: left !important;
  display: block;

  height: 90px;
  width: 100%;

  color: $unselected-action;

  .fa{
    height: 50px;
    width: 50px;
    padding: 20px 20px;
    margin-left: 0px;
    transition: all .5s;
  }
}

.action-possible{
  .action .fa{
    color: $selected-action;
    &:hover{cursor: pointer;}
  }
}

.action-hovered{
  margin-left: 20px !important;

  cursor: pointer;
}





// LINK DISPLAY ---------------
#link-display{
  position: relative;
  float: left;

  height: 20px;
  width: calc(28/30 *100%);

  margin-left: calc(1/30 * 100%);
  margin-top: 10px;

  font-size: 0.9em;
  color: black;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}





























