#firepad{
  position: relative;
  float: left;

  width: calc(100% - 20px);
  height: calc(100% - 12px);
}

.CodeMirror{
  // background: grey !important;
}

.powered-by-firepad{
  display: none !important;
}