// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



@import "var";

body {
  font-family: 'Ubuntu',sans-serif;
  font-size: 13px !important;
  color:#555555;
  text-align: center;
  background: white;

  *:focus {
    outline: none !important;
  }
}



#sidebar{
  position: fixed;
  z-index: 1;

  height: calc(100%);
  width: calc(1/6 * 100% );

  padding-left: 10px;
}

#central-area{
  position: fixed;
  z-index: 1;

  left: calc(1/6 * 100%);
}

#navbar {
  position: fixed;
  z-index: 1;

  top: 0;
  left: calc(1/6 * 100%);

  width: calc(5/6 * 100%);
  height: 30px;

  color: $violet-writing;
}

main{
  .first-row{
    position: fixed;
    z-index: 1;

    top: 30px;

    width: calc(5/6 * 100% - 10px);
    height: 25px;

    background: $violet-background;
    border-top-right-radius: 20px;
    
  }
  .main-page{
    position: fixed;
    top: 0;

    width: calc(5/6 * 100% - 10px);
    height: calc(100% - 60px);

    margin-top: 55px;

    background: $grey-test;
    border-right: solid 2px $violet-background;
    border-bottom: solid 2px $violet-background;
    border-bottom-right-radius: 20px;
  }
}
