@import "var";
@import "../var";

#background-grey{
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000000;
  z-index: 100;
  // opacity: 0.7;
}

// WHOLE SLIDE -------------------
.slide{
  position: fixed;
  z-index: 120;
  // opacity: 1;

  top: 20%;
  left: 25%;

  width: 50%;
  height: 60%;

  display: none;
}

// SLIDE CONTAINER ---------------
.slide-container{
  position: absolute;
  z-index: 120;

  width: 100%;
  height: 100%;

  background: $popup-bg;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0px black;
  .fa{line-height: inherit;}

  &:before{
    position: absolute;
    z-index: 30;
    content: "";

    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;

    border-radius: 5px;
    box-shadow: -2px -2px 5px 0px black;
  }
}

// HEADER --------------------------
.slide-header{
  position: relative;
  float: left;
    z-index: 120;


  width: 100%;
  height: 40px;
  line-height: 40px;

  font-size: 18px;

  border-bottom: 1px solid grey;

  background: $popup-header-bg;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  .fa{
    position: relative;
    float: right;
    margin-right: 8px;
    color: $popup-exit;
    &:hover{
      cursor: pointer;
      color: $popup-exit-focus;
    }
  }
}

.header-title{
  position: relative;
  float: left;
  margin-left: 5px;
  font-weight: bold;
}

// FOOTER ------------------------------------
.slide-footer{
  position: relative;
    z-index: 120;

  float: left;

  bottom:0;
  height: 60px;
  width: 100%;

  background: $popup-footer-bg;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

// BODY ---------------------
.slide-body{
    z-index: 120;

  position: relative;
  float: left;

  width: 100%;
  height: calc(100% - 100px);
}

// ---------------------
// DEFAULTS
// ---------------------

// WRAPPER DEFAULT
.wrapper-default{
  position: relative;
  float: left;
  clear: left;
  // background: red;
  font-size: 16px;

  padding-left: 20px;
}


// TITLE ----------------------
.title-default{
  position: relative;
  float: left;

  color: $dark;
  font-weight: bold;
  &:hover{cursor: default;}
}


//INPUT ----------------
.input-wrapper{
  position: relative;
  float: left;
  clear: left;

  width: 150px;

  margin-top: 10px;
  padding: 5px 4px;

  border-radius: 3px;
  border: 1px solid $grey-dark;
  // box-shadow: inset 0 2px 3px rgba( 0, 0, 0, 0.1 );

  font-size: 14px;
  font-weight: bold;
  color: black;
  
  &:focus {
    box-shadow: 0px 0 1px 2px #2980b9;
    outline: none;
  }
}

// SUBMIT ---------------
.submit-default{
  position: relative;
  float: left;

  margin-left: 20px;
  margin-top: 10px;

  padding: 5px 10px;

  background: linear-gradient(to bottom, $light-blue, $blue);
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 1px $input-shadow;

  font-family: Arial;
  color: white;
  font-size: 15px;

  &:hover {
    background: linear-gradient(to bottom, $hyper-light-blue, $super-light-blue);
    cursor: pointer;
  }
}




