@import "var";
@import "../var";

#background-grey{
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000000;
  z-index: 100;
  // opacity: 0.7;
}

// WHOLE SLIDE -------------------
.slide{
  position: fixed;
  z-index: 120;

  display: none;
}

// SLIDE CONTAINER ---------------
.slide-container{
  position: absolute;
  z-index: 120;

  width: 100%;
  height: 100%;

  background: $popup-bg;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0px black;
  .fa{line-height: inherit;}

  &:before{
    position: absolute;
    z-index: 30;
    content: "";

    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;

    border-radius: 5px;
    box-shadow: -2px -2px 5px 0px black;
  }
}

// HEADER --------------------------
.slide-header{
  position: relative;
  float: left;
  z-index: 120;


  width: 100%;
  height: 40px;
  line-height: 40px;

  font-size: 18px;

  border-bottom: 1px solid grey;

  background: $popup-header-bg;
  background: $blue;
  background: linear-gradient(to bottom, $light-blue, $blue);
  // box-shadow: 1px 1px 1px black;
  border-bottom: 2px solid black;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  .fa{
    position: absolute;
    right: 8px;
    color: black;
    &:hover{
      cursor: pointer;
      color: $popup-exit-focus;
    }
  }
}

.header-title{
  display: inline-block;

  margin: 0px auto !important;

  overflow-y: auto;

  font-weight: bold;
}

// FOOTER ------------------------------------
.slide-footer{
  position: relative;
  float: left;
  z-index: 120;

  height: 60px;
  width: 100%;

  background: $popup-footer-bg;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

// BODY ---------------------
.slide-body{
  z-index: 120;

  position: relative;
  float: left;

  width: 100%;
  height: calc(100% - 100px);
}

// ---------------------
// DEFAULTS
// ---------------------


// WRAPPER DEFAULT

.wrapper-default{
  position: absolute;
  right: 0px;
  left:0px;
  top: 0px;
  bottom: 0px;
}

.wrapper-group-list{
  position: absolute;
  // top: 0px;
  right: 0px;

  font-size: 16px;

  display: none;

  // background: blue;
}

// GROUP LIST ------------------
.group-list{
  display: inline-block;

  margin: 0px auto !important;

  overflow-y: auto;
}

.wrapper-document-to-transfer{
  position: relative;
  float: left;

  width: 33%;
  display: none;

}
.document-to-transfer{
  display: inline-block;

  margin: 20px auto !important;

  font-size: 20px;
  .fa-file-o{padding-right: 5px;}
}




// TITLE ----------------------
.title-default{
  position: relative;
  float: left;

  color: $dark;
  font-weight: bold;
  &:hover{cursor: default;}
}


//INPUT ----------------
.input-wrapper{
  position: relative;
  float: left;
  clear: left;

  width: 150px;

  padding: 5px 4px;

  border-radius: 3px;
  border: 1px solid $grey-dark;
  // box-shadow: inset 0 2px 3px rgba( 0, 0, 0, 0.1 );

  font-size: 14px;
  font-weight: bold;
  color: black;

  
  &:focus {
    box-shadow: 0px 0 1px 2px #2980b9;
    outline: none;
  }
}



// SUBMIT ---------------
.submit-default{
  padding: 5px 10px;

  width: 100px;

  background: linear-gradient(to bottom, $light-blue, $blue);
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 1px $input-shadow;

  font-family: Arial;
  color: white;
  font-size: 15px;
  text-align: center;

  &:hover {
    background: linear-gradient(to bottom, $hyper-light-blue, $super-light-blue);
    cursor: pointer;
  }
}

.validate-default{
  display: inline-block;

  margin: 17px auto;
}





.list-element{
  position: relative;
  float: left;
  clear: left;

  height: 26px;
  line-height: 26px;

  margin: 2px 0px;
  padding-left: 7px;
  padding-right: 20px;

  color: $nav;
 
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;      //keep the text on one line
  overflow: hidden;         //prevent the text from being shown outside the border
  text-overflow: ellipsis;  //cut off text with an elipsis

  border-left: solid 3px $inside-bg;

  // background: green;
  &:hover, &.active{
    border-left: solid 3px $dark;
    cursor: pointer;
    // background: $dark;
  }
  .fa, img, object{
    position: relative;
    float: left;

    width: 23px;
    height: 26px;
    line-height: 26px;

    padding-right: 7px;

    font-size: 20px;
    color: $nav-fa;
  }
}

// ---------------
// NEW GROUP
// ---------------


#slide-new-group{
  left: 40%;
  right: 40%;

  top: 40%;
  bottom: 40%;
  // display: inline-block !important;
}

.body-wrapper-new-group{
  display: inline-block;

  margin: 20px auto !important;
}

// ---------------
// SEE ALL GROUPS
// ---------------

#slide-all-groups{
  left: 40%;
  right: 40%;

  top: 20%;
  bottom: 20%;
}

#all-groups-wrapper{
   display: none;
   width: 100%
}



// --------------------
// TRANSFERT DOCUMENT -------------------------------
// --------------------

// .group-list-transfer-document{
//   left: calc(50% + 60px);
// }





#slide-transfer-document{
  left: 35%;
  right: 35%;

  top: 25%;
  bottom: 25%;
  // display: inline-block !important;
}

#wrapper-group-list-transfer-document{
  width: 33%;
}

#transfer-document-wrapper{
  // display: none;
}



.arrow-wrapper{
  position: absolute;
  left: 33%;
  top: 0px;

  width: 33%;
  height: 100%;
  display: none;
}

.fa-long-arrow-right{
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 40px);

  height: 80px;
  width: 80px;
  // display: n;

  font-size: 80px !important;
  color: $grey;
}






#transfer-document-submit{
 
}

// #transfer-document-submit{
//   position: absolute;
//   width: 100px;
//   top: calc(50% - 13px);
//   left: calc( 50% - 190px);
// }

// #transfer-document-cancel{
//   position: absolute;
//   top: calc(50% - 13px);
//   left: calc(50% + 60px);
//   width: 100px;
// }






#slide-group-config{
  left: 35%;
  right: 35%;

  top: 20%;
  bottom: 20%;

  //display: inline-block !important;
}



// ------------
// GROUP CONFIG
// ------------


.config-wrapper{
  position: relative;
  float: left;
  clear: left;

  width: calc(100% - 80px);
  margin: 20px;
  padding: 20px;
  background: grey;
}

.config-header{
  position: relative;
  float: left;
  clear: left;

  height: 20px;

  margin-bottom: 5px;

  font-size: 16px;
  font-weight: bold;
}
.wrapper-action{
  position: relative;
  float: left;
  clear: left;

  height: 30px;
  width: 100%;
  background: green;

}
.config-text{
  position: relative;
  float: left;
  clear: left;

  height: 30px;
  line-height: 30px;
  font-size: 14px;
}

.submit-config{

}



















// -------------
// GROUP CONFIG ---------------------------------
// -------------

// GENERAL -------------------------

// #slide-group-config{
//   left: 35%;
//   right: 35%;

//   top: 25%;
//   bottom: 25%;

//   display: inline-block !important;
//   form{
//     position: relative;
//     float: left;

//     width: 100%;
//     height: 100%;
//   }
// }


// .body-group-config{
//   z-index: 120;

//   position: relative;
//   float: left;

//   width: 100%;
//   height: calc(100% - 40px);
//   // background: blue;
// }


// // SUBMIT ADD USER
// #group-config-add-user{
//   position: absolute;
//   top: 20px;
//   left: 170px;
// }


// // ADD USER -----------------------
// .group-config-title{
//   position: relative;
//   float: left;

//   // margin-left: 10px;
//   margin-top: 20px;

//   font-weight: bold;
//   font-size: 18px;
// }

// // INPUT USER

// .twitter-typeahead{
//   position: absolute;
//   float: left;
//   top: 20px;
//   left: 0px;

//   .tt-dataset-users{
//     font-size: 14px;
//     // background: rgba( 0, 0, 0, .5 );
//     // background: grey;
//     // font-weight: bold;
//   }
//   .tt-dropdown-menu{
//     // background: grey;
//     // background: rgba( 0, 0, 0, .5 );
//     margin-top: 5px;
//   }
// }


// // ADDED MEMBER LIST -------------------
// .token-container{
//   position: absolute;

//   top: 60px;
//   left: 20px;

//   background: blue;
//   display: none;
// }

// .token-input{
//   width: 150px !important;

//   font-size: 14px;
//   font-weight: bold;
//   color: $grey-dark;
// }
// #tokenfield-tokenfield{
//   color: black;
// }

// .token{
//   position: relative;
//   float: left;
//   clear: left;
//   margin: 3px 0px;

//   padding-left: 20px;

//   // background: green;
//   text-align: left;

//   font-size: 18px !important;
//   font-weight: bold;
//   // width: 200px !important;

//   &:hover{
//     .close{
//       color: black;
//     }
//   }
// }

// .token-label{
//   margin-left: 10px;
//   width: 100px !important;
//   font-family: ubuntu;
// }

// .close{
//   position: absolute;
//   left: 0px;
//   color: white;
// }

// .invalid{
//   color: red;
// }


