@import "var";

#container-perso-storage{
  position: relative;
  float: left;

  height: 100%;
  width: 100%;

  color: $violet-writing;
  font-size: 14px;
}

// --------
// HEADER -
// --------


#breadcrumb-seachbar{
}

#breadcrumb{
}

// #perso-file-search{
//   padding-left: 0px;
//   padding-right:0px;

//   vertical-align: middle;
//   white-space: nowrap;
//   position: relative;

//   .icon{
//     position: absolute;

//     top: 50%;

//     margin-left: 20px;
//     margin-top: -12px;

//     z-index: 1;

//     color: #4f5b66;
//   }

//   #search{
//     float: left;

//     width: 100%;

//     padding-left: 45px;
//     // color: black;

//     // background: white;

//     // font-size: 14px;
//     border: none;
//     border-radius: 5px;

//     transition: background .55s ease;

//     &:hover, &:focus, &:active{
//       outline:none;
//       // background: white;
//     }
//   }
// }

// --------------------------------
// -----  NEW & UPLOAD button -----
// --------------------------------


#new-button{
  .button-new{
    width: 100px;
    height: 21px;

    &:hover{
    }
  }
  #button-upload{
  }
}

#button-new-dropdown{
  position: absolute;
  top: 35px;
  li > a > i{
    margin-right: 5px;
  }
  &:hover{
  }
}




// -------------------
// ---DOCUMENT list ---
// -------------------
#list-document{
  position: relative;
  float: left;

  width: 70%;
  margin-top: 30px;
  text-align: left;

}

// LIST TITLE
#list-title{
  position: relative;
  float: left;

  width: 100%;
  height:25px;

  line-height: 25px;
  // background: red;
  border-bottom: 2px solid $header-bg;

  span{
     position: relative;
    float: left;

    height: 100%;

    color: grey;
    font-size: 10px;
    &:hover{
      // background: $header-bg;
      cursor: pointer;
    }
  }
  .fa{
    color: grey;
    font-size: 9px;
    padding-left: 3px; 
  }

}

#title-name{
  width: calc(60% + 50px);
}

#title-modified{
  width: calc(40% - 100px);
}

#title-size{
  width: 50px;
}

//  ROW DOCUMENT
.box_document{
  position: relative;
  float: left;
  width: 100%;
  height: 50px;
  // background: red;
  border-bottom: 1px solid $header-bg;

  &:hover{
    background: snow;
    .fa-pencil{color: grey;}
  }
}


// ICON & NAME
.icon-and-name{
  position: relative;
  float: left;
  clear: left;

  width: 60%;
  height: 50px;


  // margin: 0px 0px;
  padding-left: 5px;

  // background: green;

  a{
    position: relative;
    float: left;

    margin: 11px 0px;
    // background: yellow;

    .name-document{
      position: relative;
      float: left;

      font-size: 10px;
      line-height: 30px;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      color: black;
    }

    .fa{
      position: relative;
      float: left;

      width: 30px;

      font-size: 28px;
      color: black;
    }
  }
}

// INPUT RENAME DOCUMENT
.input-rename-document{
  position: absolute;
  left: 38px;
  top: 15px;

  width: calc(60% - 38px);
  height: 20px;

  font-size: 12px;

  color: black;
}

  // RENAME BUTTON
.document-rename{
  position: relative;
  float: left;

  width: 50px;
  height: 50px;

  padding-top: 15px;
  font-size: 20px;

  color: $inside-bg;

  &:hover{
    color: black !important;
    cursor: pointer;
  }

}

// MODIFIED
.modified-doc{
  position: relative;
  float: left;
  width: calc(40% - 100px);
  height:50px;

  padding-left: 5px;



  .date-time{
    color: black;
    font-size: 10px;
    // background: blue;
    line-height: 50px;

  }
  .person{
    position:relative;

    padding-left: 5px;

    line-height: 50px;
    font-size: 9px; 
    color: $header-bg;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover{
      text-decoration: underline !important;
      cursor: pointer;
    }
  }
}

// SIZE
.size-doc{
  position: relative;
  float: right;
  width: 50px;
  height: 50px;

  line-height: 50px;
  // margin-bottom: 1px;

  padding-left: 5px;
  color: black;
  font-size: 10px;
}

// FILE SEPARATOR
.file-separator{
  position: relative;
  float: left;

  left: 0px;
  height: 1px;
  width: 100%;
  background: $header-bg;
}

// -------------------
// ACTIONS ON DOCUMENT
// -------------------

#actions-doc{
  position: relative;
  float: left;

  width: 30%;
  height: 100%;

  .fa{
    width: 80px;
    height: 80px;
  }

  .action{
    position: absolute;
    left: calc(50% - 40px);

    color: $inside-bg;
    // color: black;

    transition: all ease-in .2s;
  }
}

#download-doc{
  top: calc(16% - 40px);
}
#delete-doc{
 top: calc(49% - 40px);
}
#link-doc{
  top: calc(82% - 40px)
}






























// --------
// RIGHT INFORMATION
// --------

#side-container{
}
.panel-costum{
  float: left;

  width: 100%;

  padding: 10px 10px 10px 10px;
  margin-bottom: 20px;

  color: black;

  // border: solid 1px $violet-writing;
  // box-shadow: -2px 2px 2px $violet;
  // border-radius: 2px;

  .panel-title{
    clear: left;
    float: left;

    width: 100%;
    // background: red;
    // font-weight: bold;

    padding-bottom: 5px;
    margin-bottom: 5px;
    text-align: left;
    .fa{margin-right: 5px; margin-left: 3px;}

  }
  // .panel-title-container{
  //   text-align: left;
  // }
  .file-info{
    float: left;
    clear: left;

    text-align: left;

    .first-col-width{
      width: 100px;
    }
  }
  .separation-line{
    display: block;

    height: 1px;

    margin: 10px 0px;

    // background: $violet-writing;
  }
  .separation-line-container{
    float: left;
    clear: left;

    width: 100%;
  }
  .share-link-container{
    float: left;
    clear: left;

    width: 100%;
  }
  .share-link{
    display: block;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // background: blue;
  }
}





