@import "var";

#container-perso-storage{
  position: relative;
  float: left;

  height: 100%;
  width: 100%;
}

// --------
// HEADER -
// --------

#breadcrumb-seachbar{
}

#breadcrumb{
  position: relative;
  float: left;

  padding-left: 5px;

  a, .breadcrumb-separator{
    position: relative;
    float: left;

    height:19px;
    line-height: 19px;

    margin: 3px 0px;
  }
  a{
    padding: 0px 2px;

    color: $breadcrumb;
    font-size: 10px;
    &:hover{
      text-decoration: underline!important;
    }
  }
  .breadcrumb-separator{
    padding: 0px 4px;
  }
}


// -------------------
// ---DOCUMENT list ---
// -------------------
#list-document{
  position: relative;
  float: left;

  width: 70%;
  text-align: left;
}

.notification-row{
  position: relative;
  float: left;

  height: 10px;
  width: 100%;

  margin-bottom:15px;

//  background: red;
}

// LIST TITLE
#list-title{
  position: relative;
  float: left;

  width: 100%;
  height:23px;

  line-height: 25px;
  // background: blue;
  border-bottom: 2px solid $list-title-separator;

  span{
    position: relative;
    float: left;

    height: 100%;

    color: $list-title;
    font-size: 10px;
    &:hover{
      cursor: pointer;
    }
  }
  .fa{
    color: $list-title-fa;
    font-size: 9px;
    padding-left: 3px; 
  }

}

#title-name{
  width: calc(60% + 50px);
}

#title-modified{
  width: calc(40% - 100px);
}

#title-size{
  width: 50px;
}

//  ROW DOCUMENT
.box_document{
  position: relative;
  float: left;
  width: 100%;
  height: 49px;
  border-bottom: 1px solid $list-separator;
  background: $inside-bg;
}

// -----------------------------
.document-hovered{
  background: $document-hovered;
  .fa-pencil{color: $pencil-active;}
}
.document-selected{
  background: $document-selected;
  .fa-pencil{color: $pencil-active;}
}
// ----------------------------

// ICON & NAME
.icon-and-name{
  position: relative;
  float: left;
  clear: left;

  width: calc(60% - 5px);
  height: 50px;

  padding-left: 5px;

  a{
    position: relative;
    float: left;

    margin: 11px 0px;

    .name-document{
      position: relative;
      float: left;

      font-size: 10px;
      line-height: 30px;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      color: $list;
    }

    .fa{
      position: relative;
      float: left;

      width: 30px;

      font-size: 26px;
      color: $list-fa;
    }
  }
}

// INPUT RENAME DOCUMENT
.input-rename-document{
  position: absolute;
  left: 33px;
  top: 13px;

  width: calc(100% - 35px);
  height: 20px;

  font-size: 10px;

  color: $rename;
  font-family: 'Ubuntu';
}

  // RENAME BUTTON
.document-rename{
  position: relative;
  float: left;

  width: 20px;
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;

  line-height: 50px;

  font-size: 20px;

  color: $inside-bg;
  &:hover{cursor: pointer;}
}

// MODIFIED
.modified-doc{
  position: relative;
  float: left;

  width: calc(40% - 105px);
  height:50px;

  padding-left: 5px;
  // background: blue;

  .date-time{
    color: $list;
    font-size: 10px;

    // background: blue;
    line-height: 50px;

  }
  .person{
    position:relative;

    padding-left: 5px;

    line-height: 50px;
    font-size: 9px; 
    color: $name;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover{
      text-decoration: underline !important;
      cursor: pointer;
    }
  }
}

// SIZE
.size-doc{
  position: relative;
  float: right;
  width: 45px;
  height: 50px;

  line-height: 50px;

  padding-left: 5px;

  color: $list;
  font-size: 10px;

  text-align: right;
  // background: green;
}

// FILE SEPARATOR
// .file-separator{
//   position: relative;
//   float: left;

//   left: 0px;
//   height: 1px;
//   width: 100%;
//   background: $list-separator;
// }

// -------------------
// ACTIONS ON DOCUMENT
// -------------------

#right-actions{
  position: relative;
  float: left;

  width: 30%;
  height: 100%;
}


//----------NEW

#new-doc{
  position: relative;
  float: left;

  width: 100%;
  height: 130px;

  padding-top: 25px;

  transition: all ease-in .5s;
  &:hover{
    padding-top: 5px;
  }
}


#new-actions{
  position: relative;
  float: left;
  display: none;

  width: 100%;
  height: 40px;

  margin-top: 20px;

  font-size: 12px;
  a{color: $action;}
  .fa{
    font-size: 14px;
    margin-right: 3px;
    color: $action-fa;
  }
}

// NEW FOLDER
#new-folder{
  position: absolute;

  left: calc(16% - 25px);
}

// UPLOAD DOC
#upload-doc{
  position: absolute;

  left: calc(50% - 28px);

   &:hover{
    cursor: pointer;
  }
}

// CREATE DOC
#create-doc{
  position: absolute;

  right: 30px;
}

#create-doc-title{
  position: relative;
  float: left;

  margin-bottom: 3px;
}

.create-list{
  position: relative;
  float: left;
  clear: left;

  padding-left: 5px;
}


//----------ACTIONS

#actions-doc{
  position: absolute;

  top: 175px;

  width: 100%;
  height: 150px;

  // background: green;
}
// ----------------------
.selected-action{
  .action{color: $selected-action;}
}
// -----------------------
.action{
  position: relative;
  float: left;

  height: 50px;
  width: calc(4/15 * 100%);

  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: calc(1/30 * 100%);
  margin-right: calc(1/30 * 100%);
  transition: all ease-in .1s;
  color: $unselected-action;

  .fa{
    height: 50px;
  }
}

.action-hovered{
  padding-top: 0px;
  cursor: pointer;
  transition: all .5s;
}

#link-display{
  position: relative;
  float: left;

  height: 20px;
  width: calc(28/30 *100%);

  margin-left: calc(1/30 * 100%);
  margin-top: 10px;

  font-size: 10px;
  color: black;


  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}





























