<div class="signup-title">Invite team members</div>
<div class="form-container">
  <div class="signup-notification">Wrong password</div>
  <input type="text"class="signup-input" placeholder="Email Address" />
  <input type="text"class="signup-input" placeholder="Name" />
  <input type="text"class="signup-input" placeholder="Last name" />
 
  <%= link_to 'Sign up', get_team_setup_path, class: "signup-button" %>
</div>