<div class="first-row" id="breadcrumb-seachbar"></div>
<div class="main-page">
 <div class="separator"></div>
  <div class="chat-main-panel">
    <div class="chat-display">
    </div>
    <div class="chat-input">
      <span class="fa fa-cloud-upload" id="chat-input-upload"></span>
      <span class="container-chat-input-text">
        <textarea class="chat-input-text" rows="1"></textarea>
      </span>
      <span class="fa fa-smile-o"></span>
    </div>
  </div>
  <div class="chat-right-panel">
    <div class="topic-list">
    </div>
    <div class="member-list"> 
   </div>
  </div>
</div>