<div class="chat-main-panel">
  <div class="chat-display">
  </div>
  <div class="chat-input">
    <div class="chat-input-upload"></div>

    <div class="chat-emoticon"></div>
  </div>
</div>
<div class="chat-right-panel">
  <div class="topic-list">
  </div>
  <div class="member-list"> 
 </div>
</div>