<p id="notice" class="hidden"><%= notice %></p>

<!-- <iframe src="https://app.box.com/embed_widget/files/0/f/0?theme=gray" width="1200" height="600" frameborder="0" allowfullscreen="allowfullscreen"></iframe> -->
<div class="first-row"></div>
<div class="main-page">
  <div class="main-page-separator"></div>
</div>

