<div id="slide-signup" class="slide">
  <div class="slide-container">
    <div class="slide-header">
      <div class="header-title">
        <span class="header-text">Configure your account</span> 
        <i class="fa fa-lock"></i> 
      </div>
      <div class="fa fa-close" id="close-slide-signup"></div>
    </div>

     
    <div class="slide-body">
      <div id="before-signup-body">
        <%= form_for @user = User.new, url: user_path(current_user.id), method: :put, multipart: true, class: "forms-container" do |f| %>
          <input type="text" class="signup-input" placeholder="Username" id="name" name="user[name]"/>
          <input type="text" class="signup-input" placeholder="Email" id="email" name="user[email]"/>

          <div class="password-wrapper">
            <div class="signup-input-wrapper">
              <input type="password" class="signup-input" placeholder="Password" id="password" name="user[password]"/>
              <div class="password-tip">Use at least 6 characters</div>
              <div class="fa fa-check password-notif"></div>
            </div>

            <div id="password-strength" class="short">
              <span class="strength-fixed-text">Password strength:</span>
              <span class="strength-text">Too short</span>
                
              <div class="visual-indicator-container">
                <div class="visual-indicator"></div>
              </div>
            </div>
          </div>

          <div class="signup-input-wrapper">
            <input type="password" class="signup-input" id="password-check" placeholder="Retype" name="user[password_confirmation]">
            <div class="fa fa-check password-check-notif-ok"></div>
            <div class="fa fa-times password-check-notif-bad"></div>
          </div>

          <input id="signup-button" name="commit" type="submit" class="hidden">
        
          <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
              <ul>
                <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

        <% end %>
      </div>

      <div id="after-signup-body">
        <i class="fa fa-bullhorn"></i>
        
        <div class="shouted-text">
          <span class="hey">Congrats ""</span>
          <span class="email-sent">Your Unisphere account is ready</span>
        </div>

        <span class="mail-check"><i class="fa fa-envelope"></i>We sent you a validation mail at ""</span>

        <div class="email-note">If you didn't receive your email, we can sent you a <span class="send-new-mail">new one!</span></div>
      </div>
    </div>


    <div class="slide-footer" >

      <div id="before-signup-footer">
        <div id="before-signup-submit">
          Sign up<i class="fa fa-arrow-right"></i>
        </div>
       <!--  <input class="submit-default validate-default" value="Sign up" id="before-signup-submit" type="submit"> -->
      </div>

      <div id="after-signup-footer" class="other-submit">
        <div id="back-to-signup">
            <i class="fa fa-arrow-left"></i>Back to sign up
         </div>
      </div>
    </div>

      <!-- <div id="after-signup"> 
        <div class="slide-body">
        BORDEL
        </div>
        <div class="slide-footer">
          <input class="submit-default validate-default" value="YO up">
        </div>
      </div> -->

  </div>
</div>