<div id="slide-signup" class="slide">
  <div class="slide-container">
    <div class="slide-header">
      <div class="header-title" id="header-title-sign">
        <span class="header-text">Configure your account</span> 
        <i class="fa fa-lock"></i> 
      </div>

      <div class="fa fa-close" id="close-slide-signup"></div>
    </div>

      
    <div class="slide-body">

      <div id="signup-from-signout-body" class="fadeout-div">
        <i class="fa fa-warning"></i>
        <div class="incoming-text">
          <p>You are using a test version</p>
          <p>All your work will be lost if you don't sign up</p>
        </div>
      </div>

      <div id="signup-from-action-body" class="fadeout-div">
        <i class="fa fa-warning"></i>
        <div class="incoming-text">
          <p>You are using a test version</p>
          <p>This action is not allowed</p>
        </div>
      </div>


      <div id="not-confirmed-account-body" class="fadeout-div">
        <i class="fa fa-warning"></i>
        <div class="incoming-text">
          <p>Hey "" we are happy so see you signed up :)</p>
          <p>To perform this action validate your account first!</p>
        </div>
      </div>


      <div id="signup-username-body" class="fadeout-div">

        <input type="text" class="signup-input" placeholder="Username" id="name" name="user[name]"/>
        <input type="text" class="signup-input" placeholder="Email adress" id="email" name="user[email]"/>

        <div class="password-wrapper">
          <div class="signup-input-wrapper">
            <input type="password" class="signup-input" placeholder="Password" id="password" name="user[password]"/>
            <div class="password-tip">Use at least 6 characters</div>
            <div class="fa fa-check password-notif"></div>
          </div>

          <div id="password-strength" class="short">
            <span class="strength-fixed-text">Password strength:</span>
            <span class="strength-text">Too short</span>
              
            <div class="visual-indicator-container">
              <div class="visual-indicator"></div>
            </div>
          </div>
        </div>

        <div class="signup-input-wrapper">
          <input type="password" class="signup-input" id="password-check" placeholder="Retype" name="user[password_confirmation]">
          <div class="fa fa-check password-check-notif-ok"></div>
          <div class="fa fa-times password-check-notif-bad"></div>
        </div>

        <input id="signup-button" name="commit" type="submit" class="hidden">
      </div>

      <div id="email-check-body" class="fadeout-div">
        <i class="fa fa-bullhorn"></i>
        
        <div class="shouted-text">
          <span class="hey">Congrats <span id="name-after-signup"></span></span>
          <span class="email-sent">Your Unisphere account is ready</span>
        </div>

        <span class="mail-check"><i class="fa fa-envelope"></i>We sent you a validation mail at <span id="email-after-signup"></span> </span>

        <div class="email-note">If you didn't receive your email, we can sent you a <span class="send-new-mail">new one!</span></div>
      </div>
    </div>

    <div class="slide-footer" >

      <div class="footer-signup fadeout-div" id="signup-from-signout-footer">
        <div class="arrow-and-sign-up" id="signout-toward-signup">
          Sign up<i class="fa fa-arrow-right"></i>
        </div>
        <div id="exit-really">skip & exit</div>
      </div>

      <div class="footer-signup fadeout-div" id="signup-from-action-footer">
        <div class="arrow-and-sign-up" id="action-toward-signup">
          Sign up<i class="fa fa-arrow-right"></i>
        </div>
      </div>

      <div class="footer-signup fadeout-div" id="not-confirmed-account-footer">
        <div id="exit-really">skip & exit</div>
      </div>

      <div class="footer-signup fadeout-div" id="signup-username-footer">
        <div class="arrow-and-sign-up" id="toward-confirmation">
          Sign up<i class="fa fa-arrow-right"></i>
        </div>
      </div>

      <div id="email-check-footer" class="fadeout-div other-submit">
       <!--  <div id="back-to-signup">
          <i class="fa fa-arrow-left"></i>Back to sign up
        </div> -->
      </div>
    </div>

  </div>
</div>
