<div class="slide story" id="slide-4" data-slide="4">

  <div class="slide-title">CONTACT US</div>
  <div class="line-row">&nbsp;</div>

  <div class="contact-icons" >
    <div class="icon-hover">
      <p><a target="_blank" href="#"><i class="fa fa-phone"></i></a></p>
      <span class="hover-text">+33 388950000</span>
    </div>

    <div class="icon-hover">
      <p><a target="_blank" href="#"><i class="fa fa-envelope"></i></a></p>
      <span class="hover-text">hello@infinitree.eu</span>
    </div>

    <div class="icon-hover">
      <p><a target="_blank" href="#"><i class="fa fa-home"></i></a></p>
      <span class="hover-text">Obernai, France<br>zip code 67210</span>
    </div>

    <div class="icon-hover">
      <p><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></p>
      <span class="hover-text">facebook/infinitree</span>
    </div>

    <div class="icon-hover">
      <p><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></p>
      <span class="hover-text">@InfiniTree</span>
    </div>
  </div>
</div>

