<% provide(:title, 'Makes collaboration intuitive for students') %>
<%= render 'slide1' %>
<%= render 'slide2' %>
<%= render 'slide3' %>
<%= render 'slide4' %>

<!-- === Arrows === -->
<div id="arrows">
  <div id="arrow-up" class="disabled"></div>
  <div id="arrow-down"></div>
  <div id="arrow-right" class="disabled"></div>
</div>

