@import "var";

// -----------------------------
// General sidebar configuration
// -----------------------------

#sidebar-padding{
  padding:0;
  background: $side-bg;
}

#sidebar-main-wrapper{
  padding:0;
}
#sidebar{
  background: $main-bg;
  padding:0;
  position: fixed;
  z-index: 5;
}

#chevron{
  :hover, :focus{
    // background: $tab-main-bg;
    // background: $violet;
  }
  a{
    height: 50px;
    padding: 12px 0 0 0;
    outline: none; 
    color: $tab-main-color;
    color: white;
    background: $violet;
    border-right: solid 1px white;
    :hover{
      // color: $tab-main-hover-color;
    }
  }
}

@media screen and (max-width: 768px) {
  #sidebar-small, #tabs-small-toggle, #group-choice-small{
    margin-top: 40px;
    li{
      // width: 70%;
      // margin-right: 15%;
    }
    a{
      // background: red;
      margin:5px auto;
      // margin-left: calc( 50% - 14px );
      padding: 2px;
      width: 26px;
      // height: 34px;
      border-radius: 5px;

      &:hover, :hover{
        background: $button-small-hover-bg;
        .fa{
        color: $button-small-hover-color;
        }
      }
    }
    .fa{
      font-size: 22px;
      color: $violet;
    } 
  }

  #tabs-small{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      color: $tab-main-color;
      padding: 0;
    }
    a{
      float: left;
      width: 100%;
      border-radius: 5px;
      background: $tab-main-bg;
      &:hover{
        background: $button-small-hover-bg;
      }
      span:hover{
        background: $button-small-hover-bg;
      }
    }
    .fa{
      margin-right: 5px;
      &:hover{
        background: $button-small-hover-bg;
      }
    }
    :hover{
      text-decoration: none;
      color: $button-small-hover-color;
    }
  }
}


// ---------------
// Sidebar content
// ---------------

#content-wrapper {
  margin: 0 auto;
  padding: 4%;
  float: left;
  width: 100%;
  height: calc(100vh - 54px); 
  border-right: solid 1px $panel-separator-bg;
  color: $tab-main-color;
  background: $tab-main-bg;
  :hover{
    background: $tab-main-bg;
  }
  a{
    color: $tab-main-color;
  }

  .panel{
    width: 100%;
  }
  .panel-heading{
    padding: 0;
    height: 50px;
    background: $panel-heading-bg;
    color: $violet;
    &:hover, #active-group:hover{
      background: $panel-heading-bg; 
    }
  }
  .panel-body{
    padding: 9px;
  }
}

#active-group{
  margin-top: 20px;
  #heading-group{
    .group-name{
      float:left;
      text-align: left;
      width: calc(100% - 50px);
    
      white-space: nowrap;      //keep the text on one line
      overflow: hidden;         //prevent the text from being shown outside the border
      text-overflow: ellipsis;  //cut off text with an elipsis

      margin-top: 15px;
      padding-left: 15px;
      
      &:hover{
        background: $panel-heading-bg; 
      }
    }
    .group-pic{
      margin: 0;
      float: left;
      height: 50px;
      width: 50px;
      &:hover, img:hover{
        background: $violet;
      }
      background: $violet;
      color: white;
    }
  }
  #nav-group{
    text-align: left;
    // margin-left: 5px;
    li a{
      // background: red;
      width: 90px;
      margin:3px 0px 3px 0px;
      padding: 0;
      padding-left: 9px;
      border-left: solid 2px $tab-main-bg;
      &:hover{
        border-left: solid 2px $violet;
      }
      // background: green;
    }
    .fa{
      margin-right: 4px;
      width: 17px;
    }
  }
}

#list-groups-wrapper{
  .panel-heading{
    padding-top: 15px; 
  }
  margin-top: 20px;
  width: 100%;
  float:left;
  clear: left;
  #list-groups{
    img{
      float: left;
      height: 30px;
      width: 30px;
      background: $violet;
      color: white;
      padding-top: 5px;
      margin-right: 5px;
      &:hover{
        background: $violet;
      }
    }
    li a{
      padding: 0;
      margin: 3px 0px 3px 0px;
      float:left;
      clear:left;
      display: block;
      padding-left: 9px;
      border-left: solid 2px $tab-main-bg;
      &:hover{
        border-left: solid 2px $violet;
      }
    }
    .name-group{
      float: left;
      margin-top: 5px;
    }
  }

  .line-separator{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 1px;
    background: $panel-separator-bg;
  }

  #more-groups{
    float: left;
    clear: left;
    display: block;
    width: 100%;
    padding-left: 15px;
    font-size: 12px;

    .ellipsis{
      float: left;
      width: 80%;
      text-align: left;
      white-space: nowrap;  
      overflow: hidden;    
      text-overflow: ellipsis; 
    }
    font-style: italic;
    &:hover, &:focus{
      text-decoration: none;
    }
    .fa{
      float: left;
      margin-right: 5px;
    }
  }
}

// ------------------
// Tabs configuration
// ------------------

#tabs-default{
  height: 30px; 
  // margin-top: 3px;
  background: $side-bg; 
  padding-top: 4px;
  .tab{
    font-size: 13px;
    background: $tab-bg;
    color: $tab-color;
    list-style: none;
    outline: none;
    text-align:center;
    padding-top: 2px;
    border-radius: 20px 20px 0 0;
    &.active, &.active:hover{
      color: $tab-active-color;
      background: $tab-active-bg;
      cursor: default;
      z-index: 9;
    }
    &:hover{
      color: $tab-hover-color;
      text-decoration: none;
      background: $tab-hover-bg;
    }
  }
  .offset-margin{
    margin-left: -13px;
  }
}

@media screen and (min-width: 768px) {
  .hidden-small{
    display: visible;
  }
  .visible-small{
    display: none;
  }
}
// Config for little screens
@media screen and (max-width: 768px) {
  .box {
    // overflow-x: hidden;
  }
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-left.active {
    left: 33%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -33%;
    position: absolute;
    top: 0;
    width: 33%;
  }
  .hidden-small{
    display: none;
  }

  #content-wrapper{
    border-right: solid 1px $violet;
  }
  .visible-small{
    display: visible;
  }
  #sidebar{
    overflow-y: hidden;
    overflow-x: hidden;
  }
}


