@import "var";

// -----------------------------
// General sidebar configuration
// -----------------------------

#sidebar-padding{
  padding:0;
  background: $side-bg;
}

#sidebar-main-wrapper{
  padding:0;
}
#sidebar{
  background: $main-bg;
  padding:0;
  // position: fixed;
  z-index: 5;
}

.sidebar-fixed{
  position: fixed !important;
}

#chevron{
  :hover, :focus{
    // background: $tab-main-bg;
    // background: $violet;
  }
  a{
    height: 50px;
    padding: 12px 0 0 0;
    outline: none; 
    color: $tab-main-color;
    color: white;
    background: $violet;
    border-right: solid 1px white;
    :hover{
      // color: $tab-main-hover-color;
    }
  }
}

@media screen and (max-width: 768px) {
  #sidebar-small, #tabs-small-toggle, #group-choice-small{
    margin-top: 40px;
    li{
      // width: 70%;
      // margin-right: 15%;
    }
    a{
      // background: red;
      margin:5px auto;
      // margin-left: calc( 50% - 14px );
      padding: 2px;
      width: 26px;
      // height: 34px;
      border-radius: 5px;

      &:hover, :hover{
        background: $button-small-hover-bg;
        .fa{
        color: $button-small-hover-color;
        }
      }
    }
    .fa{
      font-size: 22px;
      color: $violet;
    } 
  }

  #tabs-small{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      color: $tab-main-color;
      padding: 0;
    }
    a{
      float: left;
      width: 100%;
      border-radius: 5px;
      background: $tab-main-bg;
      &:hover{
        background: $button-small-hover-bg;
      }
      span:hover{
        background: $button-small-hover-bg;
      }
    }
    .fa{
      margin-right: 5px;
      &:hover{
        background: $button-small-hover-bg;
      }
    }
    :hover{
      text-decoration: none;
      color: $button-small-hover-color;
    }
  }
}


// ---------------
// Sidebar content
// ---------------

#content-wrapper {
  margin: 0 auto;
  padding: 4%;
  display: fixed;
  float: left;
  width: 100%;
  height: calc(100vh - 54px); 
  border-right: solid 1px $panel-separator-bg;
  color: $tab-main-color;
  background: $tab-main-bg;
  :hover{
    background: $tab-main-bg;
  }
  a{
    color: $tab-main-color;
  }

  .panel{
    width: 100%;
    box-shadow: 0px 3px 2px $violet;
    // border: none;
    // border: solid 1px $violet; 
    // background-color: #eed;
  }
  .panel-heading{
    padding: 0;
    height: 50px;
    background: $panel-heading-bg;
    color: $violet;
    &:hover, #active-group:hover{
      background: $panel-heading-bg; 
    }
  }
  .panel-body{
    padding: 9px;
  }
}


#test {
  width: 100%;
  float:left;
  // background: green;

	box-shadow: 0 10px 6px -6px #777;
	
  // position: relative;
  //
  // a:before, a:after{
  //   z-index: -1;
  //   position: absolute;
  //   content: "";
  //   bottom: 15px;
  //   left: 10px;
  //   width: 50%;
  //   top: 80%;
  //   max-width:300px;
  //   background: #777;
  //   -webkit-box-shadow: 0 15px 10px #777;
  //   -moz-box-shadow: 0 15px 10px #777;
  //   box-shadow: 0 15px 10px #777;
  //   -webkit-transform: rotate(-3deg);
  //   -moz-transform: rotate(-3deg);
  //   -o-transform: rotate(-3deg);
  //   -ms-transform: rotate(-3deg);
  //   transform: rotate(-3deg);
  // }
  // a:after{
  //   -webkit-transform: rotate(3deg);
  //   -moz-transform: rotate(3deg);
  //   -o-transform: rotate(3deg);
  //   -ms-transform: rotate(3deg);
  //   transform: rotate(3deg);
  //   right: 10px;
  //   left: auto;
  // }
}



#avatar-deco{
  float: left;
  position: relative;
  width: 100%;
  height: 22px;
  background: $grey-test;
  // box-shadow: 0px 4px 5px $violet;
  margin-top : 10px;
  // box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  // box-shadow:  0 10px 6px -6px #777;
  // padding-bottom: 8px;
  // border-bottom: solid 2px $violet;
  // background: red;
  .gravatar{
    float: left;
    // border: solid 2px $violet;
  }
  .user-name{
    padding: 2px 0px 0px 5px;
    font-weight: bold;
    // background: blue; 
    // width: calc( 100% - 50px );
    float: left;
  }
  .deco-options{
    padding-top: 2px;
    float: right;
    // width: calc( 100% - 50px );
    .gear{
      margin-right: 10px;
    }
    .power-off{
      padding-right: 10px;
    }
  }
}

#list-groups-wrapper{
  margin-top: 20px;
  width: 100%;
  float:left;
  clear: left;
  .panel-heading{
    padding-top: 15px; 
  }
  #list-groups{
    img{
      float: left;
      height: 30px;
      width: 30px;
      margin-right: 5px;
    }
    li a{
      padding: 0;
      margin: 3px 0px 3px 0px;
      float:left;
      clear:left;
      display: block;
      padding-left: 9px;
      border-left: solid 2px $tab-main-bg;
      &:hover{
        border-left: solid 2px $violet;
      }
    }
    .name-group{
      float: left;
      margin-top: 5px;
    }
  }

  .line-separator{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 1px;
    background: $panel-separator-bg;
  }

  #more-groups{
    float: left;
    clear: left;
    display: block;
    width: 100%;
    padding-left: 15px;
    font-size: 12px;

    .ellipsis{
      float: left;
      width: 80%;
      text-align: left;
      white-space: nowrap;  
      overflow: hidden;    
      text-overflow: ellipsis; 
    }
    font-style: italic;
    &:hover, &:focus{
      text-decoration: none;
    }
    .fa{
      float: left;
      margin-right: 5px;
    }
  }
}

#active-group{
  width: 100%;
  clear: left;
  margin-top: 20px;
  float: left;
  #heading-group{
    .group-name{
      float:left;
      text-align: left;
      width: calc(100% - 50px);
    
      white-space: nowrap;      //keep the text on one line
      overflow: hidden;         //prevent the text from being shown outside the border
      text-overflow: ellipsis;  //cut off text with an elipsis

      margin-top: 15px;
      padding-left: 15px;
      
      &:hover{
        background: $panel-heading-bg; 
      }
    }
    .group-pic{
      margin: 0;
      float: left;
      height: 50px;
      width: 50px;
    }
  }
  #nav-group{
    text-align: left;
    // margin-left: 5px;
    li a{
      width: 99px;
      margin:3px 0px;
      padding: 0;
      padding-left: 9px;
      border-left: solid 2px $tab-main-bg;
      &:hover{
        border-left: solid 2px $violet;
      }
    }
    &.active{
      li a{
        border-left: solid 2px $violet;
      }
    }
    .fa{
      margin-right: 4px;
      width: 17px;
    }
  }
}


// ------------------
// Tabs configuration
// ------------------

#tabs-default{
  height: 30px; 
  // padding-right: -3px;
  // margin-top: 3px;
  background: $side-bg; 
  padding-top: 5px;
  .tab{
    width: calc( 50% + 6px );
    font-size: 13px;
    // border: solid 1px white;
    background: $tab-bg;
    color: $tab-color;
    list-style: none;
    outline: none;
    text-align:center;
    padding-top: 2px;
    border-radius: 20px 20px 0 0;
    &.active, &.active:hover{
      color: $tab-active-color;
      background: $tab-active-bg;
      cursor: default;
      z-index: 9;
    }
    &:hover{
      color: $tab-hover-color;
      text-decoration: none;
      background: $tab-hover-bg;
    }
  }
  .offset-margin{
    margin-left: -13px;
  }
}

@media screen and (min-width: 768px) {
  .hidden-small{
    display: visible;
  }
  .visible-small{
    display: none;
  }
}
// Config for little screens
@media screen and (max-width: 768px) {
  .box {
    // overflow-x: hidden;
  }
  .row-offcanvas {
    position: relative;
    // -webkit-transition: all 0.25s ease-out;
    // -moz-transition: all 0.25s ease-out;
    // transition: all 0.25s ease-out;
  }
  .row-offcanvas-left.active {
    left: 33%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -33%;
    position: absolute;
    top: 0;
    width: 33%;
  }
  .hidden-small{
    display: none;
  }

  #content-wrapper{
    border-right: solid 1px $violet;
  }
  .visible-small{
    display: visible;
  }
  #sidebar{
    overflow-y: hidden;
    overflow-x: hidden;
  }
}


