$navbar-collapse: 900px;


$violet-dark: #785486;
$violet-darker: #654670; 

$grey: #E7ECEA;
$grey-light: #DADADA;
$grey-lighter: #FCFCFC;
$grey-test:#f8f8f8;

// $violet: #CCCCCC;
// $violet: #6E6770;
$violet: #8e639e;
$violet-light: #9F6DB2;



$background-color: #996699;
// $background-color: #8A6E51;

// $bg-dark: #1A31C6;
// $bg-light: #3B5999;

$side-bg: $background-color;
$side-color: $violet-dark; 
$side-color-hover: #5A4181;
// $side-bg-hover: #D5DAD8;
// $side-bg-light: #F8FAF9;
$main-bg: white;
$tab: #bdc2c9;

$tab-main-bg: $grey-test;
$tab-main-color: $violet;
$tab-main-hover-bg: white;
$tab-main-hover-color: $violet;

$tab-active-bg: $grey-test;
$tab-active-color: $violet;
$tab-color: white;
$tab-hover-bg: $violet-dark;
$tab-hover-color: white;
$tab-bg: $grey;

$tab-color: white;
$tab-color-active: $violet;  

$badge-color: $violet; 
$badge-bg: white; 

$notif-bg: $background-color;
$notif-color: white;
$notif-color-hover: $violet-dark;

$button-bg: $violet;
$button-bg-hover: $violet-dark;
$button-color: white;


$navbar-small-color: $violet;

$panel-heading-bg: #FCFCFC;
$panel-separator-bg: #DDDDDD;
// $panel-separator-bg: $violet-light;

$button-small-hover-bg: $violet;
$button-small-hover-color: white;

$notification-bg: $violet-light;

// $border-folder: #6E5677;



// $border-folder: $violet;
