@import "var";

// $screen-sm: 900px;

// $screen-sm: 1200px;

// $screen-float-breakpoint: $navbar-collapse;
// $screen-xs: 900px;


@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "fullcalendar";
 /*
  * require bootstrap-tokenfield
  */




.row-perfect {
  display: flex;
  flex-direction: row;
}

.row-perfect > [class^="col-"],
.row-perfect > [class*=" col-"] {
  display: flex;
  align-items: center;
  // justify-content: center;
}