// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: white;
  text-align: center;
  color: black;
  line-height: 40px;
  color: #299727;
}

label {
    float: center;
    width: 300px;
    text-align: center;
}


