@import "bootstrap";

html {
  font-weight: bold;
}

body {
  text-align: center;
  color: black;
  line-height: 75px;
  color: #fd5320;
  font-size: 30px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

th {
  text-align: center;
}


.field_with_errors {
  background-color: blue;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    list-style: square;
  }
}


p, ol, ul, li, td {
  text-align: center;
}



a {
  color: #000;
  &:link {
	text-decoration: none;
  }
  &:hover {
	color: blue;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

