@import "bootstrap";

body {
  background-color: white;
  text-align: center;
  color: black;
  line-height: 40px;
  font-size: 20px;
  color: #fd5320;
}

#notice {
  color: orange;
  font-style: bold;
}

.field_with_errors {
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    list-style: square;
  }
}

.container {
  width: 1200px;	
  font-size: 25px;
  line-height: 100px;
}

th {
	text-align: center;
}

#link {
	border: 2px solid #555555;
}
/*
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
}

a {
  color: #000;
  &:visited {
    color: #fd5320;
  }
  &:hover {
    color: #fd5320;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}






*/
