
body{
  background: url('http://farm3.staticflickr.com/2832/12303719364_c25cecdc28_b.jpg') fixed;
  background-size: cover;
}


.form-title{
  font-family: 'Open Sans' , sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #FFFFFF;
  margin-top: 5%;
  text-transform: uppercase;
  letter-spacing: 4px;
}

form{
  padding-top: 40px;
  width: 350px;
  margin: 0 auto;

  .field-input{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFFFFF;
  }

  #sign-in-submit-btn{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
  }
}

*:focus{
  outline: none;
}
.remember-forgot{

  width: 350px;
  margin: 0 auto;
  color: white;

  .forgot-pass{
    margin-top: 10px;
    a{
      color: white;
      outline: none;
      &:hover{
        text-decoration: none;
      }
    }
  }
}
