 <div class="with-hover-text">
  <p><a target="_blank" href="#"><i class="fa fa-phone fa-5x"></i></a></p>
  <span class="hover-text font-light ">+33 388950000</span></a>
</div><!-- /col12 -->


#contact-row-4 {
  padding-top: 125px;

  .col-12 {
    height: 175px;
    overflow: hidden;
    padding-top: 20px;
    transition: all ease-in .5s;

    .hover-text {
      display: none;
      font-size: 20px;
    }

    &:hover {
      height: 175px;
      padding-top: 0;
    }
  }
}

$(document).ready(function(e) {
  $('.with-hover-text, .regular-link').click(function(e){
    e.stopPropagation();
  });

  $('.with-hover-text').hover(
    function(e) {
      $(this).css('overflow', 'visible');
      $(this).find('.hover-text')
        .show()
        .css('opacity', 0)
        .delay(200)
        .animate(
          {
            paddingTop: '25px',
            opacity: 1
          },
          'fast',
          'linear'
        );
    },
    function(e) {
      var obj = $(this);
      $(this).find('.hover-text')
        .animate(
          {
            paddingTop: '0',
            opacity: 0
          },
          'fast',
          'linear',
          function() {
            $(this).hide();
            $( obj ).css('overflow', 'hidden');
          }
        );
    }
  );
});