

    <div id="logo-wrapper">
    <!-- <svg width="24" height="24">
        <image xlink:href="mickey.svg" width="24" height="24" />
      </svg> -->
      <object type="image/svg+xml" data="<%= asset_path 'mickey_2.svg' %>"></object>
      <!-- <span class= "brand&#45;name"> INFINITREE </span> -->
    </div>

    


    <div id="user-deco">
      <a id="user-profile" >
        <%= image_tag "purple_default_profil_22_border.png", id: "profile-pic" %>
        <span class="user-name"><%= current_user.name %></span>
      </a>
     
      <%= link_to fa_icon("sign-out", class: "power-off"), signout_path, method: :delete, data: { confirm: "Are you sure?" }, class: "deco"  %>
    </div>



