<div class="top-fixed" role="navigation" id="navbar">
  <div class="navbar-wrapper">
    <ul class="" id="navbar-left" >
      <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
          <% if notification_exists? == true %>
            <i class="fa fa-bell margin"></i>
            <span class="badge"><%= @notification_amount %></span>
          <% else %>
            <i class="fa fa-bell-o"></i>
          <% end %>
        </a>
        <ul class="dropdown-menu extended tasks-bar">
          <div class="notify-arrow notify-arrow-violet"></div>
          <li>
            <p class="violet">You have <%= @notification_amount %> new notifications</p>
          </li>
					
					<%= render 'notifications/index' %>
					
          <!-- <li>
            <a href="index.html#">
              <span class="photo"><img alt="avatar" src="#"></span>
              <span class="subject">
                <span class="from">Zac Snider</span>
              </span>
            </a>
          </li> -->
          <!-- <li>
            <a href="index.html#">
              <span class="photo"><img alt="avatar" src="#"></span>
              <span class="subject">
                <span class="from">Zac Snider</span>
              </span>
            </a>
          </li> -->
          <li class="external">
            <a href="#">See All notifications</a>
          </li>
        </ul>
      </li>

      <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
        <% if @notification == true %>
          <i class="fa fa-comment"></i>
          <span class="badge">2</span>
        <% else %>
          <i class="fa fa-comment-o"></i>
        <% end %>
        </a>
        <ul class="dropdown-menu extended inbox">
          <div class="notify-arrow notify-arrow-green"></div>
          <li>
              <p class="green">You have 2 new messages</p>
          </li>
          <li>
            <a href="index.html#">
              <span class="photo"><img alt="avatar" src="#"></span>
              <span class="subject">
                <span class="from">Zac Snider</span>
                <span class="time">Just now</span>
              </span>
              <span class="message"> Hi mate, how is everything?</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="photo"><img alt="avatar" src="#"></span>
              <span class="subject">
                <span class="from">Divya Manian</span>
                <span class="time">40 mins.</span>
              </span>
              <span class="message"> Hi, I need your help with this.</span>
            </a>
          </li>
          <li>
            <a href="#">See all messages</a>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right" id="navbar-right">
      <li><a class="" href="#save-todo" role="button" data-toggle="modal">Todo</a></li>
      <li><a class="" href="#lib-search" role="button" data-toggle="modal">Library</a></li>
    </ul>
  </div>
</div>

<div id="save-todo" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        Personal Todo list 
      </div>
      <div class="modal-body">
        <form class="form center-block">
          <div class="form-group">
            <textarea class="form-control input-lg" autofocus="" placeholder="Keep your thoughts in a safe place.."></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">Save</button>
      </div>
    </div>
  </div>
</div>

<div id="lib-search" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        Personal Todo list 
      </div>
      <div class="modal-body">
        <form class="form center-block">
          <div class="form-group">
            <textarea class="form-control input-lg" autofocus="" placeholder="Keep your thoughts in a safe place.."></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">Save</button>
      </div>
    </div>
  </div>
</div>


