
<div id="background-grey"></div>

<div id="slide-more-groups" class="slide">
  <div class="slide-container">
    <div class="slide-header">
      <span class="header-title">More groups</span>
      <%= fa_icon("close") %>
    </div>
    <div class="slide-body">
      
    </div>
    <div class="slide-footer"></div>
  </div>
</div>

