<div id="background-grey"></div>

<div id="slide-new-group" class="slide">
  <div class="slide-container">
    <div class="slide-header">
      <span class="header-title">New group</span>
      <div class="fa fa-close" id="close-new-group"></div>
    </div>
    <div class="slide-body">
      <div class="wrapper-default" id="new-group-wrapper">
        <div id="user_search">
          <input class="typeahead" type="text" placeholder="Invite users" name="user[email]">
          <input type="submit" value="Submit">
        </div>
      </div>
    </div>
    <div class="slide-footer"></div>
  </div>
</div>


<div id="slide-all-groups" class="slide">
  <div class="slide-container">
    <div class="slide-header">
      <span class="header-title">Select a group</span>
      <div class="fa fa-close" id="close-all-groups"></div> 
    </div>
    <div class="slide-body">
      <div class="wrapper-default" id="all-groups-wrapper ">
        <% current_groups.each do |group| %>
          <%= link_to user_group_calendar_path(current_user, group, group.calendar), class: "lateral-nav-element" do %>
            <i class="fa fa-group"></i>
            <span class="group-name-sidebar" group_id="<%= group.id %>"><%= group.name %></span>
          <% end %>
        <% end %>

      </div>
    </div>
    <div class="slide-footer"></div>
  </div>
</div>

<div id="slide-group-config" class="slide">
  <div class="slide-container">
    <div class="slide-header">
      <span class="header-title">Configuration</span>
      <div class="fa fa-close" id="close-group-config"></div> 
    </div>
    <div class="slide-body">
      <div class="wrapper-default" id="group-config-wrapperwrapper ">
       


      </div>
    </div>
    <div class="slide-footer"></div>
  </div>
</div>





















